.vscode

data/ISIC/
data/MEDMNIST
cifar-10-batches-py
runs/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin